
body {
    display: flex;
    flex-direction: column;
}

.hero-section {
    flex: 1 0 auto;
    height: 100vh;
    background-image: url('../images/project/project1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-section .logo {
    display: block;
    margin: 0 auto;
    max-width: 150px; /* Adjust the size as needed */
}


.gallery img {
    transition: transform 0.3s;
    object-fit: cover;
    background-color: #e0e0e0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.05);
}

.gallery-item {
    position: relative;
    flex: 1 1 calc(33.333% - 1rem);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.gallery-item:hover .image-description {
    opacity: 1;
}

.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.testimonial {
    position: relative;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
